In [2]:
#1.Find the error in the following Python code:
#import math
#print(Math.sqrt(16))
#Ans naming issue changed "M" as "m" (case sensitive)

import math
print(math.sqrt(16))

4.0

In [3]:
#2.Find the error in the following Python code:
# Ans x is derived outside of the code, hence need to be global
def my_function():
    global x
    x += 5
    print(x)

x = 10
my_function()

15

In [5]:
#3. need to be used "==" operator to check the value in x
x = 5
if x == 10:
    print("x is 10")

In [30]:
#4. Variable spararatly called out to resolve
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [8]:
#5. Value need to be returne
def square(n):
    return n * n

print(square(4))

16

In [ ]:
#6. tuple can't editable, it is immutable. we can create new tuple
# my_tuple = (1, 2, 3)
# my_tuple[1] = 5

my_tuple = (1,5,3)

In [9]:
#7. missing age detail in the pritn statement
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name, age))

My name is Alice and I am 25 years old

In [10]:
#8.
#a = [1, 2, 3]
#b = [1, 2, 3]
#if a is b:
#    print("Lists are equal")

a = [1, 2, 3]
b = [1, 2, 3]
if (a==b):
    print ("Lists are equal")

Lists are equal

In [12]:
#9. range need to be reversed based on the range (5,1) by adding -1 under difference
#for i in range(5, 1):
# print(i)

for i in range(5,1,-1):
    print(i)

5
4
3
2

In [13]:
#10. name variable not defined
#student = {"name": "John", "age": 20}
#print(student[name])

student = {"name": "John", "age": 20}
print(student["name"])

John